networks:
  gitea:
    external: false

services:
  server:
    image: gitea/gitea:1.24.5
    container_name: gitea
    environment:
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=db:5432
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=gitea
      - GITEA__database__PASSWD=gitea
    restart: always
    networks:
      - gitea
    volumes:
      - ./gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD=gitea
      - POSTGRES_DB=gitea
    networks:
      - gitea
    volumes:
      - ./postgres:/var/lib/postgresql/data

  runner-build:
    image: gitea/act_runner:latest
    container_name: runner-build
    restart: unless-stopped
    environment:
      - GITEA_INSTANCE_URL=$GITEA_INSTANCE_URL
      - GITEA_RUNNER_REGISTRATION_TOKEN=$GITEA_RUNNER_BUILD_REGISTRATION_TOKEN
      - GITEA_RUNNER_NAME=$GITEA_RUNNER_BUILD_NAME
      - GITEA_RUNNER_LABELS=$GITEA_RUNNER_BUILD_LABELS
    volumes:
      - ./data_runner_build:/data
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["daemon"]

  runner-deploy:
    image: gitea/act_runner:latest
    container_name: runner-deploy
    restart: unless-stopped
    environment:
      - GITEA_INSTANCE_URL=$GITEA_INSTANCE_URL
      - GITEA_RUNNER_REGISTRATION_TOKEN=$GITEA_RUNNER_DEPLOY_REGISTRATION_TOKEN
      - GITEA_RUNNER_NAME=$GITEA_RUNNER_DEPLOY_NAME
      - GITEA_RUNNER_LABELS=$GITEA_RUNNER_DEPLOY_LABELS
    volumes:
      - ./data_runner_deploy:/data
      - /var/run/docker.sock:/var/run/docker.sock
    command: ["daemon"]
